.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: "Montserrat"; }

.row { max-width: 1470px; margin: 0 auto; }

.container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

/*typography*/
.text-primary { color: #04396C; }

.text-secondary { color: #3691BE; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/*button*/
.btn { font-family: "Montserrat"; font-weight: 600; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; text-align: center; position: relative; display: block; overflow: hidden; width: 100%; max-width: 150px; margin: 0 auto; padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn span.text { position: relative; z-index: 2; }
.btn span.background { position: absolute; display: block; width: 0; height: 0; border-radius: 50%; background-color: #2a3239; -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out; transition: width 0.4s ease-in-out, height 0.4s ease-in-out; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }
.btn:hover { color: #d1d4d7; }
.btn:hover span.background { width: 225%; height: 562.5px; }
.btn:active { background-color: #46535f; }
.btn-primary { background: #04396C; border-radius: 50px; border: 1px solid transparent; }
.btn-primary span.background { background-color: #6c3704; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }
form .loading { display: none; }
form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }
.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }
.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }
.ctc-form button { display: block; }
.ctc-form .recap { display: inline-block; }
.ctc-form .g-recaptcha div { margin: 0 auto 10px; }
.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }
#content .gallery { list-style-type: none; margin: 0; padding: 0; }
#content .gallery li { display: inline-block; }
#content .thumbnail { background-color: #04396C; border: 1px solid #3691BE; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }
#content .thumbnail:hover { -webkit-transform: scale(1.02); transform: scale(1.02); }
#content .page_navigation { display: inline-block; }
#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }
#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

a { color: inherit; text-decoration: none; }
a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5, h6 { margin: 0 auto; }

h1 { font-family: "Montserrat"; font-weight: 400; font-size: 100px; font-style: normal; letter-spacing: normal; line-height: normal; color: #000000; }

h2 { font-family: "Montserrat"; font-weight: 400; font-size: 90px; font-style: normal; letter-spacing: normal; line-height: normal; color: #04396C; }

h3 { font-family: "Montserrat"; font-weight: 600; font-size: 30px; font-style: normal; letter-spacing: normal; line-height: normal; color: #04396C; }

h4 { font-family: "Montserrat"; font-weight: 800; font-size: 25px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #000000; }

h5 { font-family: "Montserrat"; font-weight: 700; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #000000; }

h6 { font-family: "Montserrat"; font-weight: 700; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #000000; }

p, ul, ol { font-family: "Montserrat"; font-weight: 700; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #000000; }

/*-----------------------------------------------------------------
Header-------------------------------------------------------------
-----------------------------------------------------------------*/
.header { background: #04396C; padding: 40px 0; }
.header nav a#pull { display: none; }
.header nav ul { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.header nav ul li { display: inline-block; }
.header nav ul li a { display: block; padding: 10px 10px; font-family: "Montserrat"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }
.header nav ul li.active-menu a, .header nav ul li a:hover { background: #3691BE; }

/*banner*/
.banner { background: #3691BE; padding: 40px 0; }

/*-----------------------------------------------------------------
Main---------------------------------------------------------------
-----------------------------------------------------------------*/
/*footer*/
.footer { padding: 40px 0; }
.footer .copy p, .footer .techno p { font-family: "Montserrat"; font-weight: 400px; font-size: 18px; font-style: normal; letter-spacing: normal; line-height: 180%; color: #000000; }
.footer .techno img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }
.inner #content .row { max-width: 1200px; margin: 0 auto; }

.inner #content h1 { font-family: "Montserrat"; font-weight: 400; font-size: 60px; font-style: normal; letter-spacing: normal; line-height: normal; color: #04396C; }

.inner #content h2 { font-family: "Montserrat"; font-weight: 400; font-size: 50px; font-style: normal; letter-spacing: normal; line-height: normal; color: #000000; }

/*Sticky*/
/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }
.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1199px) { body { min-width: 320px; }
  .order-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .order-2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .order-3 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .order-4 { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
  .order-5 { -webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5; }
  .order-6 { -webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6; }
  .order-7 { -webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7; }
  .order-8 { -webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8; }
  .order-9 { -webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9; }
  .order-10 { -webkit-box-ordinal-group: 11; -ms-flex-order: 10; order: 10; }
  .order-11 { -webkit-box-ordinal-group: 12; -ms-flex-order: 11; order: 11; }
  .order-12 { -webkit-box-ordinal-group: 13; -ms-flex-order: 12; order: 12; } }
@media screen and (max-width: 768px) { .header { padding: 50px 0 0; }
  .header .row { width: 100%; }
  .header nav { display: block; height: auto; position: absolute; top: 0; left: 0; right: 0; background: #04396c; }
  .header nav ul { width: 100%; display: none; height: auto; border-bottom: 5px solid #000; }
  .header nav ul li { width: 100%; position: relative; padding: 0 15px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .header nav ul li a { display: block; float: none; padding: 10px 0; }
  .header nav a { text-align: left; width: 100%; }
  .header nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  .header nav a#pull { display: block; color: #fff; background-color: #000; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  .header nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .cta { background: #04396C url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #3691BE; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; } }

/*# sourceMappingURL=style.css.map */