/*typography*/

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}