@mixin width($row-width, $range){
  width : ($range/$row-width)*100%;
}

@mixin flex-basis($row-width, $range){
  flex-basis : ($range/$row-width)*100%;
}

@mixin flex($direction, $wrap, $justify, $align){
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin font($family,$weight,$size,$style,$letter-spacing,$line-height,$color){
  font: {
    family: $family;
    weight: $weight;
    size: $size;
    style: $style;
  }
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $color;
}
@mixin cta(){
  .cta {
    background: $primary-color url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid $secondary-color;
    border-top-left-radius: 40px;
    bottom: 1%;
    display: block;
    height: 80px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 100px;
    z-index: 999;
  }
}