/*For Mobile Phones*/
[class*="col-"] {
    /*For Please Unquote for Mobile Responsive*/
    width: 100% !important;
    flex-basis: 100% !important;
    position: relative;
    box-sizing: border-box;
    padding: 0 15px;
}
$grid-columns: 12;
@media screen and (min-width: 600px) {

    @for $i from 0 through $grid-columns {
        .col-xs-#{$i} {
            width: percentage($i / $grid-columns)!important;
            flex-basis: percentage($i / $grid-columns)!important;
        }
    }
    .column-5 {
        [class*=col-xs-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }
}

@media screen and (min-width: 768px) {

    @for $i from 0 through $grid-columns {
        .col-sm-#{$i} {
            width: percentage($i / $grid-columns) !important;
            flex-basis: percentage($i / $grid-columns) !important;
        }
    }

    .column-5 {
        [class*=col-sm-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }

}

@media screen and (min-width: 960px) {

    @for $i from 0 through $grid-columns {
        .col-md-#{$i} {
            width: percentage($i / $grid-columns) !important;
            flex-basis: percentage($i / $grid-columns) !important;
        }
    }
    .column-5 {
        [class*=col-md-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }
}
@media screen and (min-width: 1024px) {

    @for $i from 0 through $grid-columns {
        .col-lg-#{$i} {
            width: percentage($i / $grid-columns) !important;
            flex-basis: percentage($i / $grid-columns) !important;
        }
    }

}

@media screen and (min-width: 1200px) {

    @for $i from 0 through $grid-columns {
        .col-xl-#{$i} {
            width: percentage($i / $grid-columns) !important;
            flex-basis: percentage($i / $grid-columns) !important;
        }
    }

    .column-5 {
        [class*=col-xl-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }
}