// row and body
$width: 1200px;
$max-width: (1440px + 30px);
$min-width: 320px;
// COLOR
$primary-color: #04396C;
$secondary-color: #3691BE;
$primary-complement: complement($primary-color);
$secondary-complement: complement($secondary-color);
$black: #000000;
$white: #FFFFFF;
// font
$font-family: ("font1": "Montserrat", "font2": "Montserrat", "font3": "Montserrat");
$h1-font: map-get($font-family, "font1");
$h2-font: map-get($font-family, "font1");
$p-font: map-get($font-family, "font1");
$btn-font: map-get($font-family, "font1");