/*footer*/

.footer {
    padding: 40px 0;
    .copy, .techno{
        p{
            @include font(map-get($font-family, "font1"), 400px, 18px, normal, normal, 180%, #000000);
        }
    }
    .techno img {
        display: inline-block;
        vertical-align: middle;
        max-width: 50px;
    }
}
@mixin footer-xl() {}

@mixin footer-lg() {}

@mixin footer-md() {}

@mixin footer-sm() {}

@mixin footer-xs() {}