/*-----------------------------------------------------------------
Header-------------------------------------------------------------
-----------------------------------------------------------------*/

.header {
    background: $primary-color;
    padding: 40px 0;
    nav {
        a#pull {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @include flex(row, wrap, space-around, center);
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 10px 10px;
                    @include font(map-get($font-family, "font1"), 400, 16px, normal, normal, 120%, $white);
                }
                &.active-menu a,
                a:hover {
                    background: $secondary-color;
                }
            }
        }
    }
}
@mixin header-xl() {}
@mixin header-lg() {}
@mixin header-md() {}
@mixin header-sm() {
    .header {
        padding: 50px 0 0;

        .row {
            width: 100%;
        }

        nav {
            display: block;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: rgba($primary-color, 80%);

            ul {
                width: 100%;
                display: none;
                height: auto;
                border-bottom: 5px solid #000;

                li {
                    width: 100%;
                    position: relative;
                    padding: 0 15px;
                    box-sizing: border-box;

                    a {
                        display: block;
                        float: none;
                        padding: 10px 0;
                    }
                }
            }

            a {
                text-align: left;
                width: 100%;

                strong {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 15px;
                }

                &#pull {
                    display: block;
                    color: #fff;
                    background-color: #000;
                    height: 30px;
                    padding: 10px 0;
                    width: 100%;
                    position: relative;

                    &:after {
                        content: "";
                        background: url('../images/nav-icon.png') no-repeat;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
@mixin header-xs() {}
