@media screen and (max-width: 1199px) {
	body {
		min-width: $min-width;
	}

	@for $order from 1 through 12 {
		.order-#{$order} {
			order: #{$order}
		}
	}
	@include header-xl();
	@include banner-xl();
	@include footer-xl();
}
@media screen and (max-width: 1024px) {
	@include header-lg();
	@include banner-lg();
	@include footer-lg();
}
@media screen and (max-width: 960px){
	@include header-md();
	@include banner-md();
	@include footer-md();
}
@media screen and (max-width: 768px) {
	@include header-sm();
	@include banner-sm();
	@include footer-sm();
	@include cta();
}
@media screen and (max-width: 600px) {
	@include header-xs();
	@include banner-xs();
	@include footer-xs();
}
